<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers><add name="iisnode" path="iisnode.js" verb="*" modules="iisnode" /></handlers>
    <rewrite>
      <rules><rule name="Showcase server"><match url=".*" /><action type="Rewrite" url="iisnode.js" /></rule></rules>
    </rewrite>
    <iisnode nodeProcessCommandLine="node.exe" node_env="production" loggingEnabled="true" logDirectory="C:\home\LogFiles\iisnode" maxLogFileSizeInKB="1024" maxTotalLogFileSizeInKB="4096" devErrorsEnabled="false" watchedFiles="web.config;iisnode.js;server.js;analytics.js;history.js" />
    <httpErrors existingResponse="PassThrough" />
  </system.webServer>
</configuration>